{% extends 'Cuentas/base.html' %}
{% block content %}
<div class="volverIndex">
    <a href="../index.html">Volver</a>
</div>

<div class="bdHomeBanking">
    <h1>ITBANK</h1>

    <form id="#formulario" class="formulario-input errorMensaje">
        <input type="text" placeholder="Usuario" id="usuario">
        <input type="password" placeholder="Contraseña" id="contrasena">
        <input type="submit" value="ingresar">
    </form>
    <div class="mensajeError"></div>
</div>
{% endblock content %}
